@use "../utilities/colors";

.footer-container {
    text-align: center;
    padding: 4rem 0;
    color: colors.get('gray', 700);

    p.paragraph {
        padding: 0.5rem 0;
    }

    .card.clouds-background {
        background-image: url("../images/global/header_bg_clouds2.png");
        background-position: left bottom;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        padding: 2rem 0;
    }
}
