.newest-users-card {
    .list-item .new-user-container {
        height: 90px;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        padding: 0 1rem;

        .avatar {
            align-self: baseline;
        }
    }
}
