$icons: (
    ('name': 'box-one', 'width': 30px, 'height': 30px, 'extension': 'png'),
    ('name': 'box-two', 'width': 30px, 'height': 30px, 'extension': 'png'),
    ('name': 'box-three', 'width': 30px, 'height': 30px, 'extension': 'png'),
    ('name': 'box-four', 'width': 30px, 'height': 30px, 'extension': 'png'),
    ('name': 'newuser', 'width': 31px, 'height': 27px, 'extension': 'png'),
    ('name': 'gender-boy', 'width': 21px, 'height': 21px, 'extension': 'gif'),
    ('name': 'gender-girl', 'width': 21px, 'height': 27px, 'extension': 'gif'),
    ('name': 'habme-key', 'width': 16px, 'height': 16px, 'extension': 'svg')
);

@each $icon in $icons {

    .icon-#{map-get($icon, 'name')} {
        background: url('../images/icons/icon-#{map-get($icon, 'name')}.#{map-get($icon, 'extension')}') no-repeat;
        display: inline-block;
        vertical-align: middle;
        image-rendering: pixelated;

        @if (map-has-key($icon, 'width')) {
            width: map-get($icon, 'width');
        } @else {
            width: 16px;
        }

        @if (map-has-key($icon, 'height')) {
            height: map-get($icon, 'height');
        } @else {
            height: 16px;
        }
    }
}
