@use "colors";

:root {
    // global
    --default-border-color: #{colors.get('gray', 200)};
    --border-radius: 5px;
    --font-color: #4d5e77;

    // global colors
    /// primary
    --primary-color: #{colors.get('blue', 500)};
    --primary-color-hover: #{colors.get('blue', 600)};
    --primary-color-active: #{colors.get('blue', 700)};

    /// danger
    --danger-color: #{colors.get('red', 600)};
    --danger-color-hover: #{colors.get('red', 700)};
    --danger-color-active: #{colors.get('red', 800)};


    ///info
    --info-color: #{colors.get('blue', 600)};

    ///success
    --success-color: #{colors.get('green', 600)};

    ///success
    --warning-color: #{colors.get('amber', 600)};

    ///utils
    --comment-color: #{colors.get('gray', 600)};
    --light-background: #{colors.get('gray', 100)};

    // breadcrumbs
    --breadcrumbs-color: #EFF2F2;

    // cards
    --card-title-color: #{colors.get('gray', 700)};
    --card-subtitle-color: #{transparentize(colors.get('gray', 700), .25)};

    // navigation
    --navigation-background: #{colors.get('blue-gray', 900)};
}
