@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.main-header {
    height: 175px;
    background-image: url("../images/header/background.png");
    background-size: auto, cover, auto;
    image-rendering: pixelated;
    display: flex;
    align-items: center;

    .header-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .register-button-container {
            margin-top: 1.5rem;
        }
    }

    .logo-container {
        display: flex;
        align-items: center;
    }
}

.header-toolbar {
    background-color: var(--breadcrumbs-color);
    background-image: linear-gradient(to bottom, #fff, var(--breadcrumbs-color));
    box-shadow: inset 0 -3px #0000000a, 0 1px #0000001f, 0 2px 10px #0000001a;
    height: 60px;
    display: flex;

    .header-toolbar-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-info {
        flex: 1;
        display: flex;
        justify-content: right;

        .platform {
            background-image: url("../images/header/platform.png");
            background-repeat: no-repeat;
            background-position: bottom;
            height: 60px;
            width: 68px;
            image-rendering: pixelated;
            position: relative;

            .avatar {
                margin-top: -44px;
                margin-left: 6px;
            }
        }

        .speech-bubble {
            align-self: baseline;
            margin-top: -100px;
        }
    }
}

@screen md {
    .main-header {
        background: url('../images/header/hotel.png') calc(50% + 150px) bottom, url("../images/header/background.png") 0;

        .header-inner {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            .register-button-container {
                margin-left: auto;
                margin-top: 0;
            }
        }
    }
}
