
.card-link {
    text-decoration: none;
}

.card {
    background: #fff;
    border-radius: var(--border-radius);
    position: relative;
    //@extend .shadow-1;

    .card-badge {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: rgba(0, 0, 0, .8);
        padding: 0.2rem 0.3rem;
        color: #fff;
        border-radius: var(--border-radius);
    }

    .card-header {
        display: flex;
        flex-direction: column;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border-bottom: solid 1px var(--default-border-color);
        overflow: hidden;

        &.card-header-right-image {
            background-position: center right;
            background-repeat: no-repeat;
            image-rendering: pixelated;
        }

        .card-header-title-container {
            padding: 1.5rem;
            display: flex;
            align-items: center;

            .card-header-titles {
                max-width: 100%;

                .card-header-title {
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: var(--card-title-color);
                }

                .card-header-subtitle {
                    color: var(--card-subtitle-color);
                    margin-top: 0.5rem;
                }
            }

            .card-header-actions {
                margin-left: auto;
            }
        }

        .card-header-icon-container {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            border-radius: var(--border-radius);
        }
    }

    .card-image {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        height: 100px;
        image-rendering: pixelated;

        &.card-image-top {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

        &--article {
            height: 125px;
            background-repeat: no-repeat;
            background-position: right;
        }
    }

    .card-content {
        &:not(.no-spacing) {
            padding: 1.5rem;
        }

        &.border-top {
            border-top: 1px solid var(--default-border-color);
        }

        &.footer {
            padding: 4rem 1rem;
            display: flex;
            justify-content: center;
        }
    }

    &.article-card {
        transition: box-shadow 0.2s ease-in-out;

        .card-image {
            background-position: right;
            background-repeat: no-repeat;
        }

        .card-header-subtitle {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:hover {
            transition: box-shadow 0.2s ease-in-out;
            //@extend .shadow-2;
        }
    }
}

.card-spacer {
    padding: 1rem;
}

@screen sm {
    .card {
        .card-header.card-header-right-image {
            &.moving {
                background-image: url('../images/global/moving.png');
            }
        }
    }
}
