.list {
    display: flex;
    flex-direction: column;

    .list-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:last-child {
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

        &--user {
            height: 80px;
            overflow-y: hidden;
            padding: 0 1rem;

            .avatar {
                align-self: baseline;
            }
        }

        .list-item-link {
            display: flex;
            width: 100%;
            color: inherit;
            text-decoration: none;

            &:not(:last-child) {
                margin-bottom: .5rem;
            }

            .list-item-link__text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover {
                    text-decoration: underline;
                }
            }

            .list-item-link__timestamp {
                padding-right: 0.5rem;
                white-space: nowrap;
                flex-basis: 4.5rem;
            }
        }
    }

    &--rowed {
        .list-item:nth-child(even) {
            background: var(--light-background);
        }
    }

    &.avatar-list {
        .list-item .user-container {
            height: 90px;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            padding: 0 1rem;

            .avatar {
                align-self: baseline;
            }
        }
    }
}
